{% extends "StolarzBundle:Default:base.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Zamówienie klienta {{ customerName }}:</h1>
    <p>W załączniku przesłano plik CSV z zamówieniem. Plik ten proszę zaimportować w programie HHSTRG (z piły) w celu wykonania optymalizacji.</p>
{% endblock %}

{% block footer %}{% endblock %}