{% extends "StolarzBundle:Default:base.html.twig" %}

{% block title %}Dodaj obrzeże{% endblock %}

{% block content %}
    <h1>Obrzeża:</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}